.logo{
    margin: 110%;
    color:#fff;
    /* top: 50%;
    position: absolute;
    transform: translate(0, -50%); */
}

.navbar{
    background-color: #EAE7DC !important;
}

.hamBar{
    color:rgb(0, 0, 0);
}

/* Menu Links */
nav a.nav-link{
    letter-spacing: .0375rem;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    font-size: x-large;
}

.navbar-nav > li > a{
    position: relative;
    margin-right: .75rem;
    margin-left: .75rem;
    color:rgb(0, 0, 0) !important;
    text-decoration: none;
}

.navbar-nav > li > a:hover{
    color:#6A603D !important;

}

.navbar-nav > li > a::before{
    content: "";
    position: absolute;
    /* color: rgb(150, 150, 150) !important; */
    border-bottom: solid #6A603D !important;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #6A603D !important;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.navbar-nav > li > a:hover::before{
    transform: scaleX(1);
}

/* .navbar-nav > li > a:hover{
    color: rgb(150, 150, 150) !important;
    border-bottom: solid rgb(150, 150, 150);
} */
.navbar-nav >li >a:focus{
    color: #6A603D !important;
}


.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus{
    color: #6A603D !important;
}

.navbar-brand{
    max-width: 17.25rem;
    padding: 0 !important;
    height: 6rem;
}

